.about-hero {
  font-size: 36px;
  font-weight: 600;
  font-family: "IBM Plex Serif";
  margin-bottom: 24px;
}

.about-header {
  font-size: 24px;
  font-weight: 600;
  font-family: "IBM Plex Serif";
  margin: 36px 0 12px 0;
}

.about-container {
  width: 80%;
  padding: 84px 10% 0 10%;
}