.event-card {
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  background-color: #F7F6F3;
  font-size: 14px;
}

.card-header {
  font-family: 'IBM Plex Serif';
  font-size: 18px;
  font-weight: 600;
}

.card-subheader {
  color: #AAA9A5;
  font-weight: 500;
}

.card-header-container {
  display:flex;
  justify-content: space-between;
}

button {
  span {
    font-size: 12px;
  }
}

i {
  color: #AAA9A5 !important;
  cursor: pointer;
}