.event-card {
  border-radius: 8px;
  padding: 16px 24px 16px 24px;
  background-color: #F7F6F3;
  font-size: 14px;
}

.card-header {
  font-family: 'IBM Plex Serif';
  font-size: 18px;
  font-weight: 600;
}

.card-subheader {
  color: #AAA9A5;
  font-weight: 500;
}